<form class="row">
  <h1>Register You Complain</h1>
  <div class="">
    <input class="form-control" type="text" placeholder="Name" />
  </div>
  <mat-form-field appearance="outline">
    <mat-select name="complaintype" [(ngModel)]="selectedComplain">
      <mat-option value="" selected>Select Complain</mat-option>
      <mat-option *ngFor="let complain of ComplainType" [value]="complain">
        {{ complain | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="">
    <textarea
      class="form-control"
      type="text"
      placeholder="Enter Description of complain"
    ></textarea>
  </div>
  <button type="button" mat-raised-button color="primary">Submit</button>
</form>
