<div class="container">
  <div class="row">
    <div class="col-6 col-md-8">
      <h1 class="text-bg-light text-sm-center">Our products</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis eum,
        impedit rerum beatae vero alias error quod maxime at aspernatur
        distinctio. Eius suscipit autem consequatur quidem veritatis, commodi
        ullam quae.
      </p>
    </div>
    <div class="col-6 col-md-4">
      <h1 class="text-bg-light text-sm-center">Our Goal</h1>
      <p class="text-sm-start">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis eum,
        impedit rerum beatae vero alias error quod maxime at aspernatur
        distinctio. Eius suscipit autem consequatur quidem veritatis, commodi
        ullam quae.
      </p>
    </div>
  </div>
</div>
