<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card>
        <mat-card-title>Our products</mat-card-title>
        <mat-card-content> Welcome to our App </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card>
        <mat-card-title>Our Goal</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          error ut voluptates odit repellendus vitae minus atque, voluptate
          cupiditate impedit mollitia fugiat, amet eum?
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
